<body>
  <main id="about">
    <h1 class="lg-heading">
      About <span style="color: rgb(240, 80, 106)">Me</span>
    </h1>
    <br />
    <h2 class="sm-heading"></h2>
    <br />
    <div
      class="container"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="0.5%"
      fxLayoutAlign="center"
    >
      <div fxFlex="30%">
        <img
          class="img"
          src="../../assets/images/portraitSm.jpg"
          alt="Hyo Chang Kim"
        />
      </div>
      <br />
      <div fxFlex="15%">
        <div class="icon">
          <a href="https://twitter.com/hyhyisso" target="_blank"
            ><i class="fab fa-twitter fa-2x"></i
          ></a>
        </div>
        <div class="icon">
          <a href="https://www.linkedin.com/in/hyochangkim/" target="_blank"
            ><i class="fab fa-linkedin fa-2x"></i
          ></a>
        </div>
        <div class="icon">
          <a href="https://github.com/hckim16" target="_blank"
            ><i class="fab fa-github fa-2x"></i
          ></a>
        </div>
      </div>
      <br />
      <div fxFlex="55%">
        <mat-card class="about1-card">
          <mat-card-content>
            <p>
              Ingénieur génie civil de formation, je suis passionné par la
              programmation et les nouvelles technologies.
              <strong></strong> - .<br /><a href="/" target="_blank"
                ><strong><em></em></strong
              ></a>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br />
    <br />
    <div
      class="container"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="0.5%"
      fxLayoutAlign="center"
    >
      <div fxFlex="33%">
        <mat-card class="about-card">
          <mat-card-header class="about-header">
            <mat-card-title class="about-title">Formations</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Diplôme de spécialisation en Génie Civil<br />
              - ISBA TP | Marseille, France
            </p>
            <p>
              Diplôme d’ingénieur de conception en Génie Civil<br />
              - Ecole Polytechnique de Thiès | Thiès, Sénégal
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33%">
        <mat-card class="about-card">
          <mat-card-header class="about-header">
            <mat-card-title class="about-title"></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p></p>
            <p></p>
            <p>
              <a href="" target="_target"
                ><strong><em></em></strong
              ></a>
            </p>
            <p>
              <a href="" target="_target"
                ><strong><em></em></strong
              ></a>
            </p>
            <p>
              <a href="" target="_blank"
                ><strong><em></em></strong
              ></a>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="34%">
        <mat-card class="about-card">
          <mat-card-header class="about-header">
            <mat-card-title class="about-title"></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </main>
</body>
